<ion-view view-title="Journey to Fit">
  <ion-content>
    <div class="card exInfo">
      <div class="item item-divider lastWeight">Last Weight: {{ lastWeight }} lbs</div>
    </div>
    <div class="card exInfo">
      <div class="item item-divider exName">{{ excercise.name }}</div>
      <div class="item item-text-wrap exInfo">
        <b>Reps</b>: {{ excercise.reps }}
        <span><b>Sets</b>: {{ excercise.sets }}</span>
        <span><b>Tempo</b>: {{ excercise.tempo }}</span>
      </div>
      <div class="item item-text-wrap exInfo">{{ excercise.notes }}</div>
    </div>
    <div class="card" ng-show="message">
      <div class="item item-text-wrap {{ loadClass }}">{{ message }}</div>
    </div>
    <div class="card">
      <div class="item item-divider">Log</div>
      <form ng-submit="addEntry(entry, excercise)">
        <div class="list">
          <div class="item range">
            <i class="">Set</i>
            <input type="range" min="1" max="6" value="1" ng-model="entry.set">
            <i class="">{{ entry.set || 0 }}</i>
          </div>
          <label class="item item-input">
            <input placeholder="Weight" type="tel" ng-model="entry.weight">
          </label>
          <div class="item range">
            <i class="">Reps</i>
            <input type="range" min="1" max="20" value="10" ng-model="entry.reps">
            <i class="">{{ entry.reps || 0 }}</i>
          </div>
        </div>
        <button class="button button-full button-positive button-bottom">Log Set</button>
      </form>
    </div>
  </ion-content>
</ion-view>
