<ion-view view-title="Journey to Fit">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <blockquote>
          Fitness is not about being better than someone else... it's about being better than you used to be.
        </blockquote>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <button class="button button-block button-positive" ng-click="login()" ng-hide="loggedIn">Log In</button>
        <button class="button button-block button-assertive" ng-click="logout()" ng-show="loggedIn">Log Out</button>
      </div>
    </div>
  </ion-content>
</ion-view
